.btn{
    padding: 12px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    &.block{
        width: 100%;
        display: block;
    }
    &.primary{
        background: #4bb03a;
        color: #fff;
        border: 1px solid #4bb03a;
    }
    &.green-light{
        background: #76fd8f;
        border: 1px solid #76fd8f;
        color: #000;
        font-size: 18px;
    }
    &.orange{
        background: #f18a1b;
        border: 1px solid #f18a1b;
        color: #fff !important;
    }
    &.btn-round{
        border-radius: 50px;
    }
    &.button-bottom{
        position: fixed;
        bottom: 15px;
        left: 15px;
        width: calc(100% - 35px);
        right: 0;
    }
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active{
    color: rgba(0,0,0,0.7);
    font-weight: 600;
}
.md-tabs.md-theme-default .md-tabs-indicator{
    background: #4bb03a;
}