#bottom-menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 90;
    .bottom-menu{
        box-shadow: 0px 6px 20px rgba($color: #000, $alpha: .5);
        // padding: 5px 0;
        background: #fff;
        a{
            &.router-link-exact-active.router-link-active{
                .md-button-content{
                    .fontIcons, span{
                        color: #40b62a;
                    }
                }
            }
        }
        .md-button-content{
            margin-top: 10px;
            span{
                padding: 5px 0;
                display: block;
                color: rgba($color: #000, $alpha: .56);
                text-align: center;
                font-weight: 500;
            }
            .fontIcons{
                display: block;
                margin: 0 auto;
                font-size: 16px;
                margin-bottom: 2px;
                color: rgba($color: #000, $alpha: .56);
            }
        }
    }
}